body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #84A493;
  color: #283618;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

h1 {
  margin-top: 60px;
  color: #FFB8D1;
  text-align: center;
}

.menu-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}

.menu-item {
  background-color: #ff97b7;
  color: white;
  padding: 15px 30px;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
  text-align: center;
}

.menu-item:hover {
  transform: scale(1.05);
  background-color: #ff6b81;
}

.back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
}

.back-btn a {
  text-decoration: none;
  color: white;
  background-color: #FFB8D1;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  transition: transform 0.2s;
}

.back-btn a:hover {
  transform: scale(1.0);
}

a {
  color: white;
}

a:hover {
  color: #bf0603;
}
