body {
  margin: 0;
  padding: 0;
  background-color: #84A493; 
  font-family: sans-serif;
  color: #283618;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 20px;
}

.gif {
  width: 280px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 0 10px #00000030;
}

.text-box {
  max-width: 260px;
  text-align: center;
}

.message {
  font-size: 16px;
  line-height: 1.4;
  color: #ffffff;
  margin-bottom: 25px;
}

.enter-btn {
  display: inline-block;
  padding: 10px 22px;
  background-color: #FFB8D1; 
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
  transition: transform .2s;
}

.enter-btn:hover {
  transform: scale(1.02);
}

